@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.mantine-1qycoz3 .ql-editor {
  width: 100%;
  display: grid;
  padding: 10px;
}
.mantine-1qycoz3 pre {
  width: 100%;
  overflow: auto !important;
}

.mantine-1qycoz3 ::-webkit-scrollbar {
  height: 3px !important;
}

.mantine-1qycoz3 ol {
  list-style: decimal !important;
}

.mantine-1qycoz3 a {
  color: rgb(62, 62, 238) !important;
  text-decoration: underline;
}
